<<<<<<< HEAD
<form action="/names"  method="post">
  <input type="text" name="player_1_name">
  <input type="text" name="player_2_name">
  <input type="submit" value= "Submit">
</form>
=======
<% if @name %>
<h1>"My name is <%= @name %>"</h1>
<% end %>

<div style='border: 3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
</div>
>>>>>>> 39e18281bf85ab9f7411a183211b218e7746ec3b
