<head>
  <link rel='stylesheet' href='battlemon.css' media='screen' title='no title' charset='utf-8'>
</head>
<body class = "index_page"><h1>Battlemon!</h1>
<h2>Gotta catch most of them...</h2><br></body>

<h3>Sign in to play</h3>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_1_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form>
