<head>
  <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet"
  type='text/css'>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
<img id="title" src = "https://s32.postimg.org/onyrwl2ph/sf_fa.jpg">
  <h2>Sign in to play</h2>

  <form action="/names" method="post">
    <label form="player_1_name"> Player 1: </label>
      <input type="text" name="player_1_name">
    <label form="player_2_name"> Player 2: </label>
      <input type="text" name="player_2_name">
    <input id="submit" type="submit" value="submit">
  </form>
</body>
