<div>
  <%= @game.player_1.name %> vs. <%= @game.player_2.name %>
</div>
<div>
  <%= @game.player_2.name %>: <%= @game.player_2.hit_points %>
</div>
<form action = "/attack">
  <input type= "submit" value = "Attack">
</form>
