<div>
  <%= @player_1_name %> vs. <%= @player_2_name %>
</div>
<div>
  <%= @player_2_name %>: 80HP
</div>
<form action = "/attack"  method = "post">
  <input type= "submit" value = "Attack">
</form>
<% if @hit_message %>
<%= @hit_message %>
<% end %>
