@font-face {
  font-family: 'pokemon';
  src: url('/fonts/Pokemon_Hollow.ttf') format('truetype');
}

body {
  font-family: 'pokemon', sans-serif;
  width: 500px;
  margin: 30px auto;
  text-align: center;
  color: white
}

body.index_page {
  background: url(http://pre02.deviantart.net/7dc0/th/pre/f/2012/030/7/f/battle_bases_01bg_hd_by_xalien95-d4o49yb.png) no-repeat center center;
  background-size: cover;
}

body.attack_page {
  background: url(http://i.giphy.com/bqrSWsK94zdpS.gif) no-repeat center center;
  background-size: cover;
}

body.play_page {
  background: url(http://vignette2.wikia.nocookie.net/pokemon/images/1/1c/Ethan_Donphan.png/revision/latest?cb=20150605233723) no-repeat center center;
  background-size: cover;
}

body.gameover_page {

  background: url(http://i.giphy.com/dkuZHIQsslFfy.gif);
  background-repeat: repeat;
}
h1 {
  color:red;
  font-family: 'pokemon';
}

#submit {
  margin-top: 15px;
}
