body {
  font-family: 'Orbitron', sans-serif;
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

body.play-page {
  background: url(https://hypersonic55.files.wordpress.com/2013/11/dragonite.png) no-repeat center center;
  background-size: cover;
}

h1 {
  color:red;
}

#submit {
  margin-top: 15px;
}

/*.attack_button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.attack_button  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.attack_button  span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.attack_button:hover span {
  padding-right: 25px;
}

.attack_button:hover span:after {
  opacity: 1;
  right: 0;
}*/
