body {
  font-family: 'Faster One', sans-serif;
  font-weight: normal;
  font-size: 40;
  margin: 30px auto;
  text-align: center;
  background-image: url(https://s32.postimg.org/jp2hm7e8l/sf_characters.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

body.play-page {
  font-family: 'Orbitron', sans-serif;
  font-size: 20;
  color:white;
  background: url(https://i.ytimg.com/vi/tEA-kf9utek/maxresdefault.jpg) no-repeat center center;
  background-size: cover;
}

h1 {
  font-weight: normal;
  color:red;
}

h2 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

#title {
  height: 35%;
}


#submit {
  display: block;
  text-align: : center;
  margin-top: 15px;
  margin: auto;
}

.blink {
  font-size: 120;
  color:red;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/*.attack_button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.attack_button  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.attack_button  span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.attack_button:hover span {
  padding-right: 25px;
}

.attack_button:hover span:after {
  opacity: 1;
  right: 0;
}*/
